<html>
   <body>
      <h1>create user</h1>
<form method="post" enctype="multipart/form-data">
     {% csrf_token %}
     <p><label>username:</label>
     <input type="text" name="username"/></p>
     <p><label>password:</label>
        <input type="password" name="password"/></p>
     <button type="submit">signup</button>
</form>
<p>
   {%if user %}
   New user created with username {{user.username}}
   {% endif %}
</p>
<p style="background-color: red;">
   {%if error_message %}
   New user created with username {{error_message}}
   {% endif %}
</p>
   </body>
   </html>

